@inherits LayoutComponentBase
<HeaderForm OnButtonClick="ShowMenu" DatosUsuarioResult="@DatosUsuarioResult" />
<div class="page">
    <div class="sidebar @ShowHide">
        <NavMenuForm  />
    </div>
    <main>
        <article class="content px-4 @AjusteContenido">
            @Body
        </article>
    </main>
</div>
