<nav class="navbar-header">
    <div class="container-fluid">
        <div class="margen-button-logo-sidebar" >
            <a class="margen-button-sidebar button-sidebar" @onclick="OnClick">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                </svg>
            </a>
            <img src="img/logoAA.png" alt="Alternate Text" />
            <div class="top-perfil ">
                <div class="text-header ocultar-en-pequenas">
                    <div class="text-header-user">
                        <div class="text-header-bold text-name-app">&nbsp; Portal de Patentes</div>
                    </div>
                    <div class="text-header-user">
                        <div>&nbsp; @DatosUsuario.Nombres </div>
                    </div>
                    <div class="text-header-last-access">
                        <div>&nbsp; @DatosUsuario.UltimoAcceso </div>
                    </div>
                </div>
                <div class="button-perfil">
                    <a class="button-perfil-link" @onclick="OnClickInfo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

