.navbar-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    height: 65px;
    background-color: var(--pro-background-color);
}

.margen-button-sidebar {
    margin-left: 10px;
    margin-right: 20px;
}

.margen-button-logo-sidebar {
    margin-top: 5px;
}

.button-sidebar {
    color: var(--pro-button-sidebar-color);
    cursor: pointer;
}

    .button-sidebar :hover {
        color: var(--pro-button-sidebar-color-hover);
        transition: 0.5s;
    }

.top-row {
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    /*    align-items: center;*/
}

.top-perfil {
    justify-content: flex-end;
    display: flex;
}

.button-perfil {
    position: absolute;
    top: 22%;
    margin-right: 10px;
}

.button-perfil-link {
    color: var( --pro-text-sidebar-color);
    cursor: pointer;
}

    .button-perfil-link :hover {
        color: var( --pro-text-sidebar-color-hover);
        transition: 0.5s;
    }
/*inicio texto header*/
.text-header {
    position: absolute;
    top: 15%;
    text-align: left;
    line-height: 16px;
    color: var( --pro-text-sidebar-color-hover);
    font-size: 11px;
    margin-right: 60px
}

.text-header-user {
    width: auto;
    display: flex;
    align-items: center;
    letter-spacing: 1px !important;
}

.text-header-company {
    width: auto;
    display: flex;
    align-items: center;
    letter-spacing: 1px !important;
}

.text-header-last-access {
    width: auto;
    display: flex;
    align-items: center;
    letter-spacing: 1px !important;
}

.text-header-bold {
    font-weight: 700;
}

.text-name-app {
    font-size: 14px;
}
/*fin texto header*/

/* Clase para ocultar en pantallas pequeñas */
@media (max-width: 580px) {
    .ocultar-en-pequenas {
        display: none;
    }
}

/* Clase para mostrar en pantallas más grandes */
@media (min-width: 581px) {
    .mostrar-en-grandes {
        display: block;
    }
}
