@* <nav class="navbar-header">
    <div class="container-fluid">
        <div class="margen-button-logo-sidebar" >
            <a class="margen-button-sidebar button-sidebar" @onclick="OnClick">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                </svg>
            </a>
            <svg width="192" height="31" viewBox="0 0 192 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.56 13.64H19.48V17.92H5.56V13.64ZM5.96 25.64H21.76V30H0.76V2H21.2V6.36H5.96V25.64ZM27.5569 30V2H31.8369L44.0769 22.44H41.8369L53.8769 2H58.1569L58.1969 30H53.2769L53.2369 9.72H54.2769L44.0369 26.8H41.7169L31.3169 9.72H32.5169V30H27.5569ZM61.8 30L74.4 2H79.52L92.16 30H86.72L75.88 4.76H77.96L67.16 30H61.8ZM67.6 23.52L69 19.44H84.12L85.52 23.52H67.6ZM104.846 30.28C102.606 30.28 100.606 29.8133 98.8456 28.88C97.1123 27.92 95.7523 26.6133 94.7656 24.96C93.779 23.3067 93.2856 21.4267 93.2856 19.32C93.2856 17.1867 93.779 15.3067 94.7656 13.68C95.7523 12.0267 97.1123 10.7333 98.8456 9.8C100.606 8.86667 102.606 8.4 104.846 8.4C106.926 8.4 108.752 8.82667 110.326 9.68C111.926 10.5067 113.139 11.7333 113.966 13.36L110.126 15.6C109.486 14.5867 108.699 13.84 107.766 13.36C106.859 12.88 105.872 12.64 104.806 12.64C103.579 12.64 102.472 12.9067 101.486 13.44C100.499 13.9733 99.7256 14.7467 99.1656 15.76C98.6056 16.7467 98.3256 17.9333 98.3256 19.32C98.3256 20.7067 98.6056 21.9067 99.1656 22.92C99.7256 23.9067 100.499 24.6667 101.486 25.2C102.472 25.7333 103.579 26 104.806 26C105.872 26 106.859 25.76 107.766 25.28C108.699 24.8 109.486 24.0533 110.126 23.04L113.966 25.28C113.139 26.88 111.926 28.12 110.326 29C108.752 29.8533 106.926 30.28 104.846 30.28ZM127.575 30.28C125.389 30.28 123.442 29.8133 121.735 28.88C120.029 27.92 118.682 26.6133 117.695 24.96C116.709 23.3067 116.215 21.4267 116.215 19.32C116.215 17.1867 116.709 15.3067 117.695 13.68C118.682 12.0267 120.029 10.7333 121.735 9.8C123.442 8.86667 125.389 8.4 127.575 8.4C129.789 8.4 131.749 8.86667 133.455 9.8C135.189 10.7333 136.535 12.0133 137.495 13.64C138.482 15.2667 138.975 17.16 138.975 19.32C138.975 21.4267 138.482 23.3067 137.495 24.96C136.535 26.6133 135.189 27.92 133.455 28.88C131.749 29.8133 129.789 30.28 127.575 30.28ZM127.575 26C128.802 26 129.895 25.7333 130.855 25.2C131.815 24.6667 132.562 23.8933 133.095 22.88C133.655 21.8667 133.935 20.68 133.935 19.32C133.935 17.9333 133.655 16.7467 133.095 15.76C132.562 14.7467 131.815 13.9733 130.855 13.44C129.895 12.9067 128.815 12.64 127.615 12.64C126.389 12.64 125.295 12.9067 124.335 13.44C123.402 13.9733 122.655 14.7467 122.095 15.76C121.535 16.7467 121.255 17.9333 121.255 19.32C121.255 20.68 121.535 21.8667 122.095 22.88C122.655 23.8933 123.402 24.6667 124.335 25.2C125.295 25.7333 126.375 26 127.575 26ZM152.797 30.28C150.743 30.28 148.89 29.8267 147.237 28.92C145.61 27.9867 144.33 26.7067 143.397 25.08C142.463 23.4533 141.997 21.5333 141.997 19.32C141.997 17.1067 142.463 15.1867 143.397 13.56C144.33 11.9333 145.61 10.6667 147.237 9.76C148.89 8.85333 150.743 8.4 152.797 8.4C154.583 8.4 156.183 8.8 157.597 9.6C159.01 10.3733 160.13 11.56 160.957 13.16C161.783 14.76 162.197 16.8133 162.197 19.32C162.197 21.8 161.797 23.8533 160.997 25.48C160.197 27.08 159.09 28.28 157.677 29.08C156.263 29.88 154.637 30.28 152.797 30.28ZM153.397 26C154.597 26 155.663 25.7333 156.597 25.2C157.557 24.6667 158.317 23.8933 158.877 22.88C159.463 21.8667 159.757 20.68 159.757 19.32C159.757 17.9333 159.463 16.7467 158.877 15.76C158.317 14.7467 157.557 13.9733 156.597 13.44C155.663 12.9067 154.597 12.64 153.397 12.64C152.197 12.64 151.117 12.9067 150.157 13.44C149.223 13.9733 148.463 14.7467 147.877 15.76C147.317 16.7467 147.037 17.9333 147.037 19.32C147.037 20.68 147.317 21.8667 147.877 22.88C148.463 23.8933 149.223 24.6667 150.157 25.2C151.117 25.7333 152.197 26 153.397 26ZM159.877 30V24.96L160.077 19.28L159.677 13.6V0.319998H164.637V30H159.877ZM181.258 30.28C178.884 30.28 176.804 29.8133 175.018 28.88C173.258 27.92 171.884 26.6133 170.898 24.96C169.938 23.3067 169.458 21.4267 169.458 19.32C169.458 17.1867 169.924 15.3067 170.858 13.68C171.818 12.0267 173.124 10.7333 174.778 9.8C176.458 8.86667 178.364 8.4 180.498 8.4C182.578 8.4 184.431 8.85333 186.058 9.76C187.684 10.6667 188.964 11.9467 189.898 13.6C190.831 15.2533 191.298 17.2 191.298 19.44C191.298 19.6533 191.284 19.8933 191.258 20.16C191.258 20.4267 191.244 20.68 191.218 20.92H173.418V17.6H188.578L186.618 18.64C186.644 17.4133 186.391 16.3333 185.858 15.4C185.324 14.4667 184.591 13.7333 183.658 13.2C182.751 12.6667 181.698 12.4 180.498 12.4C179.271 12.4 178.191 12.6667 177.258 13.2C176.351 13.7333 175.631 14.48 175.098 15.44C174.591 16.3733 174.338 17.48 174.338 18.76V19.56C174.338 20.84 174.631 21.9733 175.218 22.96C175.804 23.9467 176.631 24.7067 177.698 25.24C178.764 25.7733 179.991 26.04 181.378 26.04C182.578 26.04 183.658 25.8533 184.618 25.48C185.578 25.1067 186.431 24.52 187.178 23.72L189.858 26.8C188.898 27.92 187.684 28.7867 186.218 29.4C184.778 29.9867 183.124 30.28 181.258 30.28Z" fill="#ced4da" />
             </svg>
            <div class="top-perfil ">
                <div class="text-header ocultar-en-pequenas">
                    <div class="text-header-user">
                        <div class="text-header-bold text-color-orange text-name-app">&nbsp; @DatosUsuario.NombreApp</div>
                    </div>
                    <div class="text-header-user">
                        <div>&nbsp; @DatosUsuario.NombreUsuario </div>
                    </div>
                    <div class="text-header-last-access">
                        <div>&nbsp; @DatosUsuario.FechaUlimoAcceso </div>
                    </div>
                </div>
                <div class="button-perfil">
                    <a class="button-perfil-link" @onclick="OnClickInfo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

 *@