<div class="menu-full">
    <div class="margin-search">
        <input @bind="SearchTerm" @oninput="OnSearchInput" class="text-search" type="text" placeholder="Buscar Opción..." />
      <input @bind="SearchTerm" class="text-search" type="text" placeholder="Buscar Opción..." />  
        <a class="icon-search" @onclick="OnButtonSearchInput">
            <span class="oi oi-magnifying-glass span-icon"></span>
        </a>
    </div>
    <div class="menu-top ">
        <ul class="menu">
                        <li class="li-margin-list">
                            <a href="patentes" class="menu-link">Patentes</a>
                        </li>
        </ul>
    </div>
</div> 
