/* Clase para ocultar en pantallas pequeñas */
@media (min-width: 581px) {
    .mostrar-en-pequenas {
        display: none;
    }
}

.text-header {
    text-align: left;
    line-height: 16px;
    color: #333333;
    font-size: 11px;
    margin-left: 16px;
    margin-top: 10px;
}

.menu-top {
    margin-top: 30px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0 0 0 8px;
}

/* Listas */
.sidebar-menu,
.sidebar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    /* Items principales */
    .sidebar-menu li {
        border-bottom: 1px solid #e0e0e0;
    }

        /* Opción principal del menú */
        .sidebar-menu li > a {
            display: flex;
            align-items: center;
            gap: 12px;
            width: 100%;
            padding: 12px 16px;
            color: #333;
            text-decoration: none !important;
            font-size: 12px;
            box-sizing: border-box;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            background-color: transparent;
        }

/* Icono */
.menu-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 22px;
    color: #6c757d;
}

    .menu-icon svg {
        width: 16px;
        height: 16px;
    }

/* Flecha */
.menu-arrow {
    margin-left: auto;
    font-size: 14px;
    color: #6c757d;
    transition: transform 0.2s ease-in-out;
}

/* Hover menú principal */
.sidebar-menu li > a:hover {
    background-color: #f8f9fa;
    box-shadow: inset 3px 0 0 var(--pro-li-sidebar-hover);
    color: #000;
}

/* Menú abierto */
.has-submenu.open > a {
    background-color: #f8f9fa;
}

    .has-submenu.open > a .menu-arrow {
        transform: rotate(90deg);
    }

/* Submenús */
.submenu {
    display: none;
    background-color: #f8f9fa;
}

.has-submenu.open > .submenu {
    display: block;
}

/* Quitar línea en hijos */
.submenu li {
    border-bottom: none;
}

/* NavLink de submenús */
.submenu ::deep .submenu-link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 16px 10px 48px;
    text-decoration: none !important;
    color: #444 !important;
    font-size: 12px;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
}

    /* Hover submenú */
    .submenu ::deep .submenu-link:hover {
        background-color: #eef1f4;
        box-shadow: inset 3px 0 0 #1a75cc;
        color: #000 !important;
        text-decoration: none !important;
    }

    /* Activo submenú */
    .submenu ::deep .submenu-link.active {
        /*        background-color: #f1f3f5;*/
        /*        box-shadow: inset 3px 0 0 #1a75cc;*/
        color: var(--pro-li-sidebar-hover) !important;
        font-weight: 600;
        text-decoration: none !important;
    }
