.menu-item {
    border-top: 0.5px solid #808080;
    /*border-bottom: 0.5px solid #808080;*/
}

.submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.submenu.active {
        display: block;
}
/* Estilos para los enlaces */
.menu-link {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #FFF;
}
/* Estilos para los enlaces activos */
.active-link {
    font-weight: bold;
    color: #FF7500;
}

.span-icon {
    margin-right: 3px;
}
/* Estilos de hover */
.menu-link:hover {
    background-color: #808080;
    transition: 0.5s;
}

.submenu-icon {
    margin-right: 3px;
}
.ul-margin-list {
    margin-left: -10px;
}
.li-margin-list {
    margin-left: 0px;
}
