.menu-full {
    /*max-height: calc(100vh - 70px);*/
    height: calc(100vh - 50px);
    overflow-y: scroll;
    scrollbar-color: #232323 #333333;
    scrollbar-width: thin;
}

.menu-top {
    margin-top: 30px;
}

.menu {
    font-size: 12px;
    list-style: none;
    padding: 0;
    cursor: pointer;
    margin-left: 8px;
}
.submenu-icon {
    margin-right: 10px;
}

.margin-search {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
}

.text-search {
    background-color: #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    color: #333333;
    width: 75% !important;
    border-radius: 0.5rem;
    border: 1px solid #333333;
    margin-right: 3px;
}

.icon-search {
    color: #fff;
}

.icon-search:hover {
   color: #FF7500;
 }