<ToastsServices @ref="Toast" Time="5000" />
<LoadingBorderModalServices @ref="LoadingBorder" />
<section class="container-fluid ">
    <div class="row d-flex justify-content-center heigth-full-screen">
        <div class="col-12 col-md-7 col-lg-7 col-xl-7">
            <div class="card-login">
                <div class="card-login-shadow">
                    <a class="a-img-login"  href="https://www.cpn.fin.ec/" target="_blank">
                        <img class="img-login" src="img\EMAcode.jpg" />
                    </a>
                    <div class="text-center">
                        <span class="title-card-login">GAD Antonio Ante</span>
                    </div>
                    <EditForm Model="LoginParam" OnValidSubmit="LoginUser">
                        <DataAnnotationsValidator />
                        <div class="row card-body justify-content-center">
                            <label class="lbl-card-login-usuario">Usuario</label>
                            <InputText class="txtbox-login" placeholder="Usuario" @bind-Value="@LoginParam.User" />
                            <div class="validation-message">
                                <ValidationMessage For="@(() => LoginParam.User)" />
                            </div>
                            <label class="lbl-card-login-contrasenia">Contraseña</label>
                            <InputText class="txtbox-login" type="password" placeholder="Contraseña" @bind-Value="@LoginParam.Password" />
                            <div class="validation-message">
                                <ValidationMessage For="@(() => LoginParam.Password)" />
                            </div>
                            <button type="submit" class="btn btn-lg btn-color-cpn btn-card-login">Ingresar</button>
                            <div class="row justify-content-center">
                                <a class="card-producto-login" href="https://www.cpn.fin.ec/" target="_blank">
                                    <div class="card-producto-interno-login">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lock" viewBox="0 0 16 16">
                                            <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m0 5.996V14H3s-1 0-1-1 1-4 6-4q.845.002 1.544.107a4.5 4.5 0 0 0-.803.918A11 11 0 0 0 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664zM9 13a1 1 0 0 1 1-1v-1a2 2 0 1 1 4 0v1a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zm3-3a1 1 0 0 0-1 1v1h2v-1a1 1 0 0 0-1-1" />
                                        </svg>
                                        ¿Olvidaste tu contraseña?
                                    </div>
                                </a>
                                <a class="card-producto-login" href="https://www.cpn.fin.ec/" target="_blank">
                                    <div class="card-producto-interno-login">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
                                            <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                                        </svg><br />
                                        Crea una cuenta
                                    </div>
                                </a>
                                <a class="card-producto-login" href="https://www.cpn.fin.ec/" target="_blank">
                                    <div class="card-producto-interno-login">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                                        </svg><br />
                                        Consejos Seguridad
                                    </div>
                                </a>
                            </div>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5 col-xl-5 background-color-parte-derecha posicion-politicas">
            <div class="login-politicas-seguridad text-color-login-texto-politicas-seguridad color-parte-derecha background-color-parte-derecha">
                <h3>Consejos de Seguridad</h3>
                <ul>
                    <li class="espacio-entre-parrafo">Gad Antonio Ante no solicita tu usuario ni contraseña por enlaces de correos electrónicos, llamadas o mensajes.</li>
                    <li class="espacio-entre-parrafo">Actualiza periodicamente tus claves de acceso con una complejidad adecuada, combinación de: caracteres alfanúmericos, números, caracteres especiales.</li>
                    <li class="espacio-entre-parrafo">Recuerda, nunca debes compartir tus credenciales de acceso, estarías infringiendo políticas de seguridad y poniendo en riesgo tu información.</li>
                    <li>Por favor verifica siempre que en tu navegador aparezca la dirección correcta de la página web Gad Antonio Ante: https://www.antonioante.gob.ec/</li>
                </ul>
            </div>
        </div>
    </div>
</section>

