<EditForm Model="Model" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="row card-body justify-content-center">
        <div class="text-center title-card-login">Recuperar contraseña</div>

        <label class="lbl-card-login-usuario">Identificación (RUC/CI):</label>
        <InputText class="txtbox-login" placeholder="Identificación" @bind-Value="Model.User" />

        <label class="lbl-card-login-usuario">Email:</label>
        <InputText class="txtbox-login" placeholder="usuario@correo.com" @bind-Value="Model.Email" />

        <button type="submit" class="btn btn-lg btn-color-cpn btn-card-login">Enviar</button>

        <button type="button" class="btn btn-link" @onclick="OnBack">Volver al login</button>
    </div>
</EditForm>
