.btn-color-per {
    color: var(--pro-button-text-color);
    background-color: var(--pro-button-background-color);
}

    .btn-color-per:hover {
        color: var(--pro-button-text-color);
        background-color: var(--pro-button-background-color-hover);
        border-color: var(--pro-button-background-color-hover);
    }

.card-producto-login:hover {
    color: var(--pro-button-text-color);
    background-color: var(--pro-background-color);
    border-color: var(--pro-background-color);
}

.card-login {
    border-top: 5px solid #1f4d3a; /* verde institucional */
    border-radius: 10px;
    background: white;
    padding: 20px;

    position: relative;
    flex: auto;
    top: 5rem;
    width: 60%;
    margin: auto;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    border-radius: 0.8rem;
}
.a-img-login {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.img-login {
    margin-top: 30px;
    width: 35%;
}
::deep .txtbox-login {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 0.4rem;
    border: 1px solid #ced4da;
    width: 85% !important;
}

.title-card-login {
    font-size: max(1.6vw, 16px);
    color: #333333;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.btn-card-login {
    height: 45px;
    border-radius: 5px;
    width: 85%;
    margin-top: 20px;
}

.lbl-card-login-usuario {
    display: flex;
    margin-left: 10%;
}

.lbl-card-login-contrasenia {
    display: flex;
    margin-left: 10%;
    margin-top: 20px;
}

.card-producto-login {
    border-radius: 5px;
    width: 6.1rem;
    height: 80px;
    background-color: #fff;
    border-color: #555;
    border: 0.5px solid #555;
    cursor: pointer;
    position: relative;
    margin-top: 15px;
    font-size: 11px;
    margin-left: 15px;
    line-height: 1.1rem;
    text-align: center;
    text-decoration: none;
    color: #727272;
    font-weight: bold;
}

.card-producto-interno-login {
    margin-top: 7px;
}

.card-producto-interno-login-cs {
    margin-top: 16px;
}

.validation-message {
    color: red;
    font-size: 11px;
    margin-left: 80px;
}

@media (max-width: 767px) {
    .card-login {
        width: 100%;
        box-shadow: 0 .5rem 8px 1rem rgba(0, 0, 0, .0) !important;
    }
}
