.background-color-parte-derecha {
    background-color: var(--pro-background-color);
}

.background-color-parte-izquierda {
    background-color: var(--pro-background-color);
}

.heigth-full-screen {
    min-height: 100vh;
}

.login-politicas-seguridad {
    left: 5%;
    position: relative;
    flex: auto;
    width: 95%;
    height: 30%;
    top: 60%;
    font-size: 12px;
    color: var(--pro-text-background-color-login);
}

.espacio-entre-parrafo {
    margin-bottom: 8px;
}
.validation-message {
    color: red;
    font-size: 11px;
    margin-left: 80px;
}
@media (max-width: 767px) {
    .login-politicas-seguridad {
        position: initial !important;
        margin-top: 50px;
    }

    .posicion-politicas {
        margin-top: 70px;
    }
}
