USE [GadAntonioAnte]
GO
/****** Object:  Table [Log].[SolicitudRespuesta]    Script Date: 28/2/2026 13:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Log].[SolicitudRespuesta](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[fechaRegistro] [datetime] NOT NULL,
	[secuencial] [bigint] NOT NULL,
	[codigoUsuario] [nvarchar](50) NOT NULL,
	[numeroDocumento] [nvarchar](20) NOT NULL,
	[proveedor] [nvarchar](500) NOT NULL,
	[metodo] [nvarchar](100) NOT NULL,
	[fechaHoraEnvio] [datetime] NOT NULL,
	[tramaEnvio] [nvarchar](max) NOT NULL,
	[fechaHoraRespuesta] [datetime] NOT NULL,
	[tramaRespuesta] [nvarchar](max) NOT NULL,
	[codigo] [nvarchar](50) NOT NULL,
	[mensaje] [nvarchar](500) NOT NULL,
	[exito] [bit] NOT NULL,
 CONSTRAINT [PK_SolicitudRespuesta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
